.loginForm {
  width: 100%;
  height: 100%;
}

.ellaImage {
  max-width: 1060px;
  max-height: 1080px;
  height: 1080px;
  background-image: url("./images/loginElla.png");
  background-repeat: no-repeat;
  background-size: contain;
}
